

.main-area{
    margin: 5px 5px;
    padding: 5px 5px;
}

.content-area{
    background-color: #222222 ;
}
.header{
    text-align: center;
    color: #21618C;
    padding: 0px 5px;
}
h1{
    color: #21618C;
    margin: 0px 0px;
    font-size: 4ch;
    font-weight: bold;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#ECF0F1;
}

.container{
    display: flex;
}
.form-area{
    width: 100%;
    padding: 10px 15px;
    font-size: 22px;
}
.product-display-area{
    width: 100%;
    padding: 10px 15px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 80%;
    background-color: #48C9B0;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1ABC9C;
  }

  #products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  #products td, #products th {
    padding: 4px;
   
  }
  
  #products tr:nth-child(even){
    background-color: #f2f2f2;
    
  }
  
  #products tr:hover {
    background-color: #ddd;
   
  }
  
  #products th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #222;
    color: white;
    
  }

  button{
    border: none;
    padding: 8px 15px;
    margin: 0px 5px;
  }

  .btn-delete{
    background-color: #FB5027;
    color: white;
  }

  .btn-fetch{
    background-color: #3498DB;
    color: white;
  }

  .btn-clear{
    background-color: #F5B041;
    color: white;
  }
  