.img-container-inline {
    text-align: center;
    display: block;
}

#text-justtfy {
    text-align: justify;
}

#ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: #21618C;
    margin: 0px 0px;
    font-size: 30px;
}